.classpath
.gradle
.metadata
.settings
.project
bin
build.gradle
CREDITS-fml.txt
MinecraftForge-Credits.txt
gradlew
gradlew.bat
gradle
README.txt
MinecraftForge-License.txt
LICENSE-fml.txt
forge-1.7.10-10.13.2.1230-changelog.txt
Thumbs.db
*.db
eclipse/.recommenders
eclipse/config
eclipse/crash-reports
eclipse/logs
documents/Thumbs.db